<style>
  span {
    text-transform: uppercase;
    color: cornflowerblue;
    margin-right: 10px;
  }
  i {
    color: brown;
    margin-left: 10px;
  }
  h1 {
    text-align: center;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    font-size: larger;
  }
  h1,
  h3 {
    color: midnightblue;
  }
  p {
    margin-top: 5px;
  }
  h5 {
    margin-bottom: 5px;
    color: forestgreen;
  }
  code {
    margin-left: 10px;
    color: blueviolet;
  }
  ul {
    margin-top: -10px;
  }
  li {
    font-family: monospace;
    color: goldenrod;
  }
</style>

<h1>Welcome to Amigurume API!</h1>

<main>
  <h3>How to Read These Docs</h3>
  <h5>what the route does</h5>
  <p>
    <span>http method</span> url <i>security clearance</i>
    <code> JSON body data </code>
  </p>
  <ul>
    <li>query params</li>
  </ul>

  <h3>User</h3>

  <h5>sign up user</h5>
  <p>
    <span>post</span> api.amigurume.me/user/sign-up
    <code> { "email": str, "password": str, "username": str } </code>
  </p>

  <h5>log in user</h5>
  <p>
    <span>post</span> api.amigurume.me/user/log-in
    <code> { "username": str, "password": str } </code>
  </p>

  <h5>refresh user</h5>
  <p><span>get</span> api.amigurume.me/user/refresh</p>

  <h5>log out token</h5>
  <p><span>get</span> api.amigurume.me/user/log-out</p>

  <h5>get all users</h5>
  <p><span>get</span> api.amigurume.me/users <i>admin</i></p>
  <ul>
    <li>order-by</li>
    <li>direction = 'asc' or 'desc'</li>
  </ul>

  <h5>get user by id</h5>
  <p><span>get</span> api.amigurume.me/user/:id <i>admin</i></p>

  <h5>set clearance of user (with :id) to admin or user (to-user=1)</h5>
  <p><span>patch</span> api.amigurume.me/user/clearance/:id <i>admin</i></p>
  <ul>
    <li>to-user = '1'</li>
  </ul>

  <h3>Products</h3>

  <h5>get all products</h5>
  <p><span>get</span> api.amigurume.me/products</p>
  <ul>
    <li>order-by</li>
    <li>direction = 'asc' or 'desc'</li>
  </ul>

  <h5>get all products from ids</h5>
  <p>
    <span>get</span> api.amigurume.me/products/from
    <code> { "ids": [int,int,int...]} </code>
  </p>
  <ul>
    <li>order-by</li>
    <li>direction = 'asc' or 'desc'</li>
  </ul>

  <h5>get all types</h5>
  <p><span>get</span> api.amigurume.me/product/types</p>

  <h5>get product by id</h5>
  <p><span>get</span> api.amigurume.me/product/:id</p>

  <h5>add product</h5>
  <p>
    <span>post</span> api.amigurume.me/product <i>admin</i>
    <code>
      { "name": str "stock": int, "description": str, "image_url": str, "type":
      str }
    </code>
  </p>

  <h5>update a product</h5>
  <p>
    <span>patch</span> api.amigurume.me/product/:id <i>admin</i>
    <code>
      { "name": str "stock": int, "description": str, "image_url": str, "type":
      str }
    </code>
  </p>

  <h5>delete a product</h5>
  <p><span>delete</span> api.amigurume.me/product/:id <i>admin</i></p>

  <h3>Orders</h3>

  <h5>get all orders</h5>
  <p><span>get</span> api.amigurume.me/orders <i>admin</i></p>
  <ul>
    <li>order-by</li>
    <li>direction = 'asc' or 'desc'</li>
    <li>filter = 'fulfilled' or 'unfulfilled'</li>
  </ul>

  <h5>get orders by user id</h5>
  <p><span>get</span> api.amigurume.me/orders/user/:id <i>admin</i></p>
  <ul>
    <li>order-by</li>
    <li>direction = 'asc' or 'desc'</li>
    <li>filter = 'fulfilled' or 'unfulfilled'</li>
  </ul>

  <h5>get orders for current user</h5>
  <p><span>get</span> api.amigurume.me/orders/my <i>user or admin</i></p>
  <ul>
    <li>order-by</li>
    <li>direction = 'asc' or 'desc'</li>
    <li>filter = 'fulfilled' or 'unfulfilled'</li>
  </ul>

  <h5>get order by id</h5>
  <p><span>get</span> api.amigurume.me/order/:id <i>admin</i></p>

  <h5>add order</h5>
  <p>
    <span>post</span> api.amigurume.me/order <i>user or admin</i>
    <code> { "ordered_products": [ { "id": int, "quantity": int } ] } </code>
  </p>

  <h5>fulfill or unfulfill (to-null=1) the order (with :id)</h5>
  <p><span>patch</span> api.amigurume.me/order/fulfill/:id <i>admin</i></p>
  <ul>
    <li>to-null = '1'</li>
  </ul>

  <h5>delete an order</h5>
  <p><span>delete</span> api.amigurume.me/order/:id <i>admin</i></p>
</main>
